@font-face {
    font-family: 'Berlin Sans FB Demi';
    src: url('../../Assets/fonts/BerlinSansFBDemi-Bold.woff2') format('woff2'), url('../../Assets/fonts/BerlinSansFBDemi-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Titillium Web";
    src: url("../../Assets/fonts/TitilliumWeb-Regular.woff2") format("woff2"), url("../../Assets/fonts/TitilliumWeb-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Titillium Web";
    src: url("../../Assets/fonts/TitilliumWeb-SemiBold.woff2") format("woff2"), url("../../Assets/fonts/TitilliumWeb-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Great Vibes';
    src: url('../../Assets/fonts/GreatVibes-Regular.woff2') format('woff2'), url('../../Assets/fonts/InkFree.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ink Free';
    src: url('../../Assets/fonts/InkFree.woff2') format('woff2'), url('../../Assets/fonts/InkFree.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}