$color-primary-bg: #1b263b;
$color-primary-text: #1b263b;
$color-secondary: #415a77;
$color-secondary-text: rgb(119, 141, 169);
$color-button: rgb(58, 80, 107);
$color-button-hover: rgb(91, 192, 190);
$color-primary-text-bg: rgb(111, 255, 233);
$white: rgb(255, 255, 255);
$color-input-label: #AFAFAF;
$color-input-bg: #FAFAFA;
// Breakpoints:
$breakpoint-mobileToTablet-lower: 321px;
$breakpoint-mobileToTablet-upper: 767px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1280px;