@import '../abstracts/variables';
@import '../abstracts/mixins';
.button {
    font-size: 1.25rem;
    font-weight: 400;
    background-color: $color-button;
    border: none;
    color: white;
    padding: 0.5rem 1.5rem;
    margin-top: 1rem;
    &:hover {
        cursor: pointer;
        background-color: $color-button-hover;
        &::before {
            display: none;
        }
    }
    &:focus,
    &:active {
        outline: none;
    }
    &--right {
        align-self: flex-end;
    }
    &--projects {
        font-size: 1rem;
        font-weight: 300;
    }
}