@import '../abstracts/variables';
@import '../abstracts/mixins';
.button {
    // width: 180px;
    font-size: 1.25rem;
    font-weight: 400;
    background-color: #939490;
    border: none;
    color: white;
    padding: 0.5rem 1.5rem;
    margin-top: 1rem;
    &:hover {
        cursor: pointer;
        background-color: rgba(44, 44, 44, 0.8);
        border: 2px solid rgba(44, 44, 44, 0.8);
        &::before {
            display: none;
        }
    }
    &:focus,
    &:active {
        outline: none;
    }
    &--right {
        align-self: flex-end;
    }
    &--projects {
        font-size: 1rem;
        font-weight: 300;
    }
}