@import '../../Styles/abstracts/mixins.scss';
@import '../../Styles/abstracts/variables.scss';
.footer {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-align: center;
    background-color: $color-footer;
    color: white;
    &__connect {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0.5rem;
    }
    &__heading {
        font-size: 1.25rem;
        font-weight: bold;
        color: white;
        margin-right: 0.5rem;
    }
    &__icon {
        height: 1.4rem;
        width: 1.4rem;
        opacity: 0.5;
        margin-right: 0.5rem;
    }
    &__text {
        color: white;
        font-size: 0.8rem;
    }
}