    @import '../../Styles/abstracts/variables.scss';
    @import '../../Styles/abstracts/mixins.scss';
    .nav {
        background-color: #006d77;
        position: fixed;
        top: 0;
        width: 100%;
        height: 5rem;
        display: flex;
        z-index: 1;
        flex-direction: column;
        color: white;
        @include tablet {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
        &__titleDiv {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            margin-top: 1rem;
            @include tablet {
                padding-left: 2rem;
                margin-top: 0;
            }
        }
        &__title {
            font-size: 2.5rem;
            letter-spacing: 0.15rem;
            padding-left: 1rem;
            color: white;
            font-family: Great Vibes;
            font-weight: normal;
            font-style: normal;
            transition: transform 0.5s ease-in;
            @include tablet {
                padding-left: 0px;
            }
            &:hover {
                animation: hvr-pulse 1s linear;
            }
        }
        &__menu {
            padding-right: 1.5rem;
            cursor: pointer;
            transition: transform 0.5s ease-in;
            @include tablet {
                display: none;
            }
            &:hover {
                transform: rotate(360deg);
            }
        }
        &__mobile {
            display: inline-block;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            background-color: #006d77;
            z-index: 999;
        }
        &__tablet {
            display: none;
            @include tablet {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                padding-right: 2rem;
            }
        }
        &__link:link,
        &__link:visited,
        &__link:active {
            color: white;
            height: 3rem;
            line-height: 3rem;
            padding-left: 1rem;
            padding-right: 1rem;
            transition: transform 0.5s ease-in;
            &:hover {
                font-weight: bold;
                transform: scale(1.3);
            }
        }
    }
    
    .hero {
        margin-top: 5rem;
        background-image: url('../../Assets/images/hero.jpg');
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 50vh;
        position: relative;
        &__textDiv {
            position: absolute;
            bottom: 1rem;
            right: 1rem;
            padding-left: 1rem;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            @include tablet {
                right: 2rem;
            }
        }
        &__quote {
            color: white;
            font-style: italic;
            font-weight: 400;
        }
        &__text {
            color: white;
            font-size: 0.9rem;
        }
    }